body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1787px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1462_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:760px;
}
#u1462 {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:760px;
}
#u1463 {
  position:absolute;
  left:2px;
  top:372px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1464_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:31px;
}
#u1464 {
  position:absolute;
  left:263px;
  top:148px;
  width:122px;
  height:31px;
}
#u1465 {
  position:absolute;
  left:2px;
  top:8px;
  width:118px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1466_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1466 {
  position:absolute;
  left:263px;
  top:154px;
  width:99px;
  height:20px;
}
#u1467 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u1468 {
  position:absolute;
  left:438px;
  top:498px;
  width:79px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1469_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u1469 {
  position:absolute;
  left:1450px;
  top:498px;
  width:30px;
  height:30px;
}
#u1470 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u1471_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1471 {
  position:absolute;
  left:1487px;
  top:500px;
  width:300px;
  height:40px;
  font-size:14px;
}
#u1472 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u1473_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u1473 {
  position:absolute;
  left:420px;
  top:507px;
  width:30px;
  height:30px;
}
#u1474 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
