body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1787px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u682_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:978px;
}
#u682 {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:978px;
}
#u683 {
  position:absolute;
  left:2px;
  top:481px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u684 {
  position:absolute;
  left:444px;
  top:897px;
  width:76px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u685_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u685 {
  position:absolute;
  left:1450px;
  top:897px;
  width:30px;
  height:30px;
}
#u686 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u687_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u687 {
  position:absolute;
  left:1487px;
  top:899px;
  width:300px;
  height:40px;
  font-size:14px;
}
#u688 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u689_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u689 {
  position:absolute;
  left:414px;
  top:897px;
  width:30px;
  height:30px;
}
#u690 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
