body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1780px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u988_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:731px;
}
#u988 {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:731px;
}
#u989 {
  position:absolute;
  left:2px;
  top:358px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u990_div {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:18px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u990 {
  position:absolute;
  left:503px;
  top:301px;
  width:28px;
  height:18px;
}
#u991 {
  position:absolute;
  left:2px;
  top:1px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u992_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:18px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u992 {
  position:absolute;
  left:503px;
  top:353px;
  width:97px;
  height:18px;
}
#u993 {
  position:absolute;
  left:2px;
  top:1px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u994 {
  position:absolute;
  left:467px;
  top:583px;
  width:75px;
  height:46px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u995_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u995 {
  position:absolute;
  left:1443px;
  top:512px;
  width:30px;
  height:30px;
}
#u996 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u997_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u997 {
  position:absolute;
  left:1480px;
  top:514px;
  width:300px;
  height:40px;
  font-size:14px;
}
#u998 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u999_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u999 {
  position:absolute;
  left:447px;
  top:591px;
  width:30px;
  height:30px;
}
#u1000 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
