body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1780px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u590_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:731px;
}
#u590 {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:731px;
}
#u591 {
  position:absolute;
  left:2px;
  top:358px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u592_div {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:18px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u592 {
  position:absolute;
  left:503px;
  top:301px;
  width:28px;
  height:18px;
}
#u593 {
  position:absolute;
  left:2px;
  top:1px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u594_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:18px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u594 {
  position:absolute;
  left:503px;
  top:353px;
  width:97px;
  height:18px;
}
#u595 {
  position:absolute;
  left:2px;
  top:1px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u596 {
  position:absolute;
  left:467px;
  top:583px;
  width:75px;
  height:46px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u597_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u597 {
  position:absolute;
  left:1443px;
  top:512px;
  width:30px;
  height:30px;
}
#u598 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u599_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u599 {
  position:absolute;
  left:1480px;
  top:514px;
  width:300px;
  height:40px;
  font-size:14px;
}
#u600 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u601_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u601 {
  position:absolute;
  left:447px;
  top:591px;
  width:30px;
  height:30px;
}
#u602 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
