body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1440px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u575_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:731px;
}
#u575 {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:731px;
}
#u576 {
  position:absolute;
  left:2px;
  top:358px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u577_div {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:18px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u577 {
  position:absolute;
  left:503px;
  top:301px;
  width:28px;
  height:18px;
}
#u578 {
  position:absolute;
  left:2px;
  top:1px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u579_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:18px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u579 {
  position:absolute;
  left:503px;
  top:353px;
  width:97px;
  height:18px;
}
#u580 {
  position:absolute;
  left:2px;
  top:1px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u581 {
  position:absolute;
  left:467px;
  top:583px;
  width:75px;
  height:46px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
