body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1780px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1431_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:731px;
}
#u1431 {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:731px;
}
#u1432 {
  position:absolute;
  left:2px;
  top:358px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1433_div {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:18px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1433 {
  position:absolute;
  left:503px;
  top:301px;
  width:28px;
  height:18px;
}
#u1434 {
  position:absolute;
  left:2px;
  top:1px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1435_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:18px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1435 {
  position:absolute;
  left:503px;
  top:353px;
  width:97px;
  height:18px;
}
#u1436 {
  position:absolute;
  left:2px;
  top:1px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1437 {
  position:absolute;
  left:467px;
  top:583px;
  width:75px;
  height:46px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1438_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u1438 {
  position:absolute;
  left:1443px;
  top:512px;
  width:30px;
  height:30px;
}
#u1439 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u1440_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1440 {
  position:absolute;
  left:1480px;
  top:514px;
  width:300px;
  height:40px;
  font-size:14px;
}
#u1441 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u1442_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u1442 {
  position:absolute;
  left:447px;
  top:591px;
  width:30px;
  height:30px;
}
#u1443 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
