body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1071px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1487_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u1487 {
  position:absolute;
  left:729px;
  top:559px;
  width:30px;
  height:30px;
}
#u1488 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u1489_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#3366FF;
}
#u1489 {
  position:absolute;
  left:771px;
  top:559px;
  width:300px;
  height:40px;
  font-size:14px;
  color:#3366FF;
}
#u1490 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u1491_img {
  position:absolute;
  left:0px;
  top:0px;
  width:729px;
  height:724px;
}
#u1491 {
  position:absolute;
  left:0px;
  top:0px;
  width:729px;
  height:724px;
}
#u1492 {
  position:absolute;
  left:2px;
  top:354px;
  width:725px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1493 {
  position:absolute;
  left:153px;
  top:672px;
  width:68px;
  height:52px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1494_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u1494 {
  position:absolute;
  left:123px;
  top:690px;
  width:30px;
  height:30px;
}
#u1495 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
