body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1790px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1660_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:29px;
}
#u1660 {
  position:absolute;
  left:579px;
  top:401px;
  width:62px;
  height:29px;
}
#u1661 {
  position:absolute;
  left:2px;
  top:6px;
  width:58px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1662 {
  position:absolute;
  left:461px;
  top:500px;
  width:84px;
  height:42px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1663_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:1113px;
}
#u1663 {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:1113px;
}
#u1664 {
  position:absolute;
  left:2px;
  top:548px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1665_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1362px;
  height:734px;
}
#u1665 {
  position:absolute;
  left:20px;
  top:128px;
  width:1362px;
  height:734px;
}
#u1666 {
  position:absolute;
  left:2px;
  top:359px;
  width:1358px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1667_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1409px;
  height:720px;
}
#u1667 {
  position:absolute;
  left:0px;
  top:142px;
  width:1409px;
  height:720px;
}
#u1668 {
  position:absolute;
  left:2px;
  top:352px;
  width:1405px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1669_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1669 {
  position:absolute;
  left:628px;
  top:605px;
  width:103px;
  height:20px;
  color:#FFFFFF;
}
#u1670 {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  white-space:nowrap;
}
#u1671_img {
  position:absolute;
  left:0px;
  top:0px;
  width:634px;
  height:132px;
}
#u1671 {
  position:absolute;
  left:374px;
  top:175px;
  width:634px;
  height:132px;
}
#u1672 {
  position:absolute;
  left:2px;
  top:58px;
  width:630px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1673_img {
  position:absolute;
  left:0px;
  top:0px;
  width:616px;
  height:41px;
}
#u1673 {
  position:absolute;
  left:383px;
  top:267px;
  width:616px;
  height:41px;
}
#u1674 {
  position:absolute;
  left:2px;
  top:12px;
  width:612px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1675_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u1675 {
  position:absolute;
  left:630px;
  top:264px;
  width:141px;
  height:27px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u1676 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u1677_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:37px;
}
#u1677 {
  position:absolute;
  left:591px;
  top:694px;
  width:200px;
  height:37px;
}
#u1678 {
  position:absolute;
  left:2px;
  top:10px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1679_div {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:285px;
  background:inherit;
  background-color:rgba(255, 51, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:50px;
}
#u1679 {
  position:absolute;
  left:537px;
  top:340px;
  width:308px;
  height:285px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:50px;
}
#u1680 {
  position:absolute;
  left:2px;
  top:78px;
  width:304px;
  word-wrap:break-word;
}
#u1681_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:22px;
}
#u1681 {
  position:absolute;
  left:630px;
  top:702px;
  width:130px;
  height:22px;
}
#u1682 {
  position:absolute;
  left:2px;
  top:3px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1683_div {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1683 {
  position:absolute;
  left:630px;
  top:704px;
  width:148px;
  height:20px;
  color:#FFFFFF;
}
#u1684 {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  word-wrap:break-word;
}
#u1685_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-decoration:underline;
}
#u1685 {
  position:absolute;
  left:929px;
  top:767px;
  width:141px;
  height:20px;
  text-decoration:underline;
}
#u1686 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u1687 {
  position:absolute;
  left:656px;
  top:66px;
  width:66px;
  height:26px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1688 {
  position:absolute;
  left:1209px;
  top:51px;
  width:137px;
  height:55px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1689_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u1689 {
  position:absolute;
  left:551px;
  top:697px;
  width:30px;
  height:30px;
}
#u1690 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u1691_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u1691 {
  position:absolute;
  left:894px;
  top:763px;
  width:30px;
  height:30px;
}
#u1692 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u1693_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u1693 {
  position:absolute;
  left:1450px;
  top:679px;
  width:30px;
  height:30px;
}
#u1694 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u1695_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u1695 {
  position:absolute;
  left:1450px;
  top:757px;
  width:30px;
  height:30px;
}
#u1696 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u1697_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1697 {
  position:absolute;
  left:1490px;
  top:684px;
  width:300px;
  height:17px;
}
#u1698 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u1699_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1699 {
  position:absolute;
  left:1490px;
  top:764px;
  width:300px;
  height:17px;
}
#u1700 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
