body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1790px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u806_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:29px;
}
#u806 {
  position:absolute;
  left:579px;
  top:401px;
  width:62px;
  height:29px;
}
#u807 {
  position:absolute;
  left:2px;
  top:6px;
  width:58px;
  visibility:hidden;
  word-wrap:break-word;
}
#u808 {
  position:absolute;
  left:461px;
  top:500px;
  width:84px;
  height:42px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u809_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:1113px;
}
#u809 {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:1113px;
}
#u810 {
  position:absolute;
  left:2px;
  top:548px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u811_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1362px;
  height:734px;
}
#u811 {
  position:absolute;
  left:20px;
  top:128px;
  width:1362px;
  height:734px;
}
#u812 {
  position:absolute;
  left:2px;
  top:359px;
  width:1358px;
  visibility:hidden;
  word-wrap:break-word;
}
#u813_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1409px;
  height:720px;
}
#u813 {
  position:absolute;
  left:0px;
  top:142px;
  width:1409px;
  height:720px;
}
#u814 {
  position:absolute;
  left:2px;
  top:352px;
  width:1405px;
  visibility:hidden;
  word-wrap:break-word;
}
#u815_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u815 {
  position:absolute;
  left:628px;
  top:605px;
  width:103px;
  height:20px;
  color:#FFFFFF;
}
#u816 {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  white-space:nowrap;
}
#u817_img {
  position:absolute;
  left:0px;
  top:0px;
  width:634px;
  height:132px;
}
#u817 {
  position:absolute;
  left:374px;
  top:175px;
  width:634px;
  height:132px;
}
#u818 {
  position:absolute;
  left:2px;
  top:58px;
  width:630px;
  visibility:hidden;
  word-wrap:break-word;
}
#u819_img {
  position:absolute;
  left:0px;
  top:0px;
  width:616px;
  height:41px;
}
#u819 {
  position:absolute;
  left:383px;
  top:267px;
  width:616px;
  height:41px;
}
#u820 {
  position:absolute;
  left:2px;
  top:12px;
  width:612px;
  visibility:hidden;
  word-wrap:break-word;
}
#u821_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u821 {
  position:absolute;
  left:630px;
  top:264px;
  width:141px;
  height:27px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u822 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u823_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:37px;
}
#u823 {
  position:absolute;
  left:591px;
  top:694px;
  width:200px;
  height:37px;
}
#u824 {
  position:absolute;
  left:2px;
  top:10px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u825_div {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:285px;
  background:inherit;
  background-color:rgba(255, 51, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:50px;
}
#u825 {
  position:absolute;
  left:537px;
  top:340px;
  width:308px;
  height:285px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:50px;
}
#u826 {
  position:absolute;
  left:2px;
  top:78px;
  width:304px;
  word-wrap:break-word;
}
#u827_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:22px;
}
#u827 {
  position:absolute;
  left:630px;
  top:702px;
  width:130px;
  height:22px;
}
#u828 {
  position:absolute;
  left:2px;
  top:3px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u829_div {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u829 {
  position:absolute;
  left:630px;
  top:704px;
  width:148px;
  height:20px;
  color:#FFFFFF;
}
#u830 {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  word-wrap:break-word;
}
#u831_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-decoration:underline;
}
#u831 {
  position:absolute;
  left:929px;
  top:767px;
  width:141px;
  height:20px;
  text-decoration:underline;
}
#u832 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u833 {
  position:absolute;
  left:656px;
  top:66px;
  width:66px;
  height:26px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u834 {
  position:absolute;
  left:1209px;
  top:51px;
  width:137px;
  height:55px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u835_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u835 {
  position:absolute;
  left:551px;
  top:697px;
  width:30px;
  height:30px;
}
#u836 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u837_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u837 {
  position:absolute;
  left:894px;
  top:763px;
  width:30px;
  height:30px;
}
#u838 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u839_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u839 {
  position:absolute;
  left:1450px;
  top:679px;
  width:30px;
  height:30px;
}
#u840 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u841_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u841 {
  position:absolute;
  left:1450px;
  top:757px;
  width:30px;
  height:30px;
}
#u842 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u843_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u843 {
  position:absolute;
  left:1490px;
  top:684px;
  width:300px;
  height:17px;
}
#u844 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u845_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u845 {
  position:absolute;
  left:1490px;
  top:764px;
  width:300px;
  height:17px;
}
#u846 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
