body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1777px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u652_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:943px;
}
#u652 {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:943px;
}
#u653 {
  position:absolute;
  left:2px;
  top:464px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u654 {
  position:absolute;
  left:318px;
  top:760px;
  width:108px;
  height:80px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u655_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u655 {
  position:absolute;
  left:278px;
  top:776px;
  width:30px;
  height:30px;
}
#u656 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u657_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u657 {
  position:absolute;
  left:1440px;
  top:760px;
  width:30px;
  height:30px;
}
#u658 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u659_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u659 {
  position:absolute;
  left:1477px;
  top:762px;
  width:300px;
  height:40px;
  font-size:14px;
}
#u660 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
