body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1470px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1484_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u1484 {
  position:absolute;
  left:1440px;
  top:760px;
  width:30px;
  height:30px;
}
#u1485 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u1486_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#3366FF;
}
#u1486 {
  position:absolute;
  left:978px;
  top:564px;
  width:300px;
  height:40px;
  font-size:14px;
  color:#3366FF;
}
#u1487 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u1488_img {
  position:absolute;
  left:0px;
  top:0px;
  width:968px;
  height:752px;
}
#u1488 {
  position:absolute;
  left:0px;
  top:0px;
  width:968px;
  height:752px;
}
#u1489 {
  position:absolute;
  left:2px;
  top:368px;
  width:964px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1490 {
  position:absolute;
  left:170px;
  top:609px;
  width:108px;
  height:80px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1491_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u1491 {
  position:absolute;
  left:140px;
  top:634px;
  width:30px;
  height:30px;
}
#u1492 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
