body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1440px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:3413px;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:3413px;
}
#u1 {
  position:absolute;
  left:2px;
  top:1698px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2 {
  position:absolute;
  left:764px;
  top:54px;
  width:49px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2.mouseOver {
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u2_ann {
  position:absolute;
  left:806px;
  top:50px;
  width:1px;
  height:1px;
}
#u4_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 117, 66, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:45px;
}
#u5 {
  position:absolute;
  left:2px;
  top:14px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6_div {
  position:absolute;
  left:0px;
  top:0px;
  width:547px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u6 {
  position:absolute;
  left:302px;
  top:15px;
  width:547px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:547px;
  white-space:nowrap;
}
#u8_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 117, 66, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u8 {
  position:absolute;
  left:882px;
  top:14px;
  width:89px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u9 {
  position:absolute;
  left:2px;
  top:2px;
  width:85px;
  word-wrap:break-word;
}
#u8_ann {
  position:absolute;
  left:964px;
  top:10px;
  width:1px;
  height:1px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:76px;
}
#u11 {
  position:absolute;
  left:572px;
  top:1196px;
  width:83px;
  height:76px;
}
#u12 {
  position:absolute;
  left:2px;
  top:30px;
  width:79px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11_ann {
  position:absolute;
  left:648px;
  top:1192px;
  width:1px;
  height:1px;
}
#u13_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u13 {
  position:absolute;
  left:593px;
  top:1211px;
  width:61px;
  height:20px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:76px;
}
#u16 {
  position:absolute;
  left:923px;
  top:1196px;
  width:83px;
  height:76px;
}
#u17 {
  position:absolute;
  left:2px;
  top:30px;
  width:79px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u18 {
  position:absolute;
  left:944px;
  top:1211px;
  width:61px;
  height:20px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:76px;
}
#u21 {
  position:absolute;
  left:1276px;
  top:1196px;
  width:83px;
  height:76px;
}
#u22 {
  position:absolute;
  left:2px;
  top:30px;
  width:79px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u23 {
  position:absolute;
  left:1297px;
  top:1211px;
  width:61px;
  height:20px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:76px;
}
#u26 {
  position:absolute;
  left:572px;
  top:1530px;
  width:83px;
  height:76px;
}
#u27 {
  position:absolute;
  left:2px;
  top:30px;
  width:79px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u28 {
  position:absolute;
  left:593px;
  top:1545px;
  width:61px;
  height:20px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:76px;
}
#u31 {
  position:absolute;
  left:922px;
  top:1530px;
  width:83px;
  height:76px;
}
#u32 {
  position:absolute;
  left:2px;
  top:30px;
  width:79px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u33 {
  position:absolute;
  left:943px;
  top:1545px;
  width:61px;
  height:20px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:76px;
}
#u36 {
  position:absolute;
  left:1276px;
  top:1536px;
  width:83px;
  height:76px;
}
#u37 {
  position:absolute;
  left:2px;
  top:30px;
  width:79px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u38 {
  position:absolute;
  left:1297px;
  top:1550px;
  width:61px;
  height:20px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:760px;
  top:109px;
  width:85px;
  height:33px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:59px;
}
#u41 {
  position:absolute;
  left:1117px;
  top:95px;
  width:318px;
  height:59px;
}
#u42 {
  position:absolute;
  left:2px;
  top:22px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:1195px;
  top:95px;
  width:137px;
  height:55px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
