body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1440px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u264_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:1262px;
}
#u264 {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:1262px;
}
#u265 {
  position:absolute;
  left:2px;
  top:623px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u266_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u266 {
  position:absolute;
  left:1162px;
  top:429px;
  width:30px;
  height:30px;
}
#u267 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u266_ann {
  position:absolute;
  left:1185px;
  top:425px;
  width:1px;
  height:1px;
}
#u268 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u269 {
  position:absolute;
  left:184px;
  top:127px;
  width:141px;
  height:51px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u270 {
  position:absolute;
  left:184px;
  top:189px;
  width:141px;
  height:61px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u271 {
  position:absolute;
  left:184px;
  top:253px;
  width:141px;
  height:61px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u272 {
  position:absolute;
  left:184px;
  top:315px;
  width:141px;
  height:61px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u273 {
  position:absolute;
  left:184px;
  top:379px;
  width:141px;
  height:61px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u274 {
  position:absolute;
  left:184px;
  top:446px;
  width:141px;
  height:61px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u275 {
  position:absolute;
  left:184px;
  top:507px;
  width:141px;
  height:61px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
