body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1780px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u300_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:1262px;
}
#u300 {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:1262px;
}
#u301 {
  position:absolute;
  left:2px;
  top:623px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u302_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u302 {
  position:absolute;
  left:1162px;
  top:429px;
  width:30px;
  height:30px;
}
#u303 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u304 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u305 {
  position:absolute;
  left:184px;
  top:127px;
  width:141px;
  height:51px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u306 {
  position:absolute;
  left:184px;
  top:189px;
  width:141px;
  height:61px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u307 {
  position:absolute;
  left:184px;
  top:253px;
  width:141px;
  height:61px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u308 {
  position:absolute;
  left:184px;
  top:315px;
  width:141px;
  height:61px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u309 {
  position:absolute;
  left:184px;
  top:379px;
  width:141px;
  height:61px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u310 {
  position:absolute;
  left:184px;
  top:446px;
  width:141px;
  height:61px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u311 {
  position:absolute;
  left:184px;
  top:507px;
  width:141px;
  height:61px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u312_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u312 {
  position:absolute;
  left:1440px;
  top:429px;
  width:30px;
  height:30px;
}
#u313 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u314_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u314 {
  position:absolute;
  left:1480px;
  top:435px;
  width:300px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u315 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
