body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1440px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u801 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u802 {
  position:absolute;
  left:191px;
  top:128px;
  width:141px;
  height:51px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u803 {
  position:absolute;
  left:191px;
  top:186px;
  width:141px;
  height:61px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u804 {
  position:absolute;
  left:191px;
  top:251px;
  width:141px;
  height:61px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u805 {
  position:absolute;
  left:191px;
  top:318px;
  width:141px;
  height:61px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u806 {
  position:absolute;
  left:191px;
  top:382px;
  width:141px;
  height:61px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u807 {
  position:absolute;
  left:191px;
  top:443px;
  width:141px;
  height:61px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u808 {
  position:absolute;
  left:191px;
  top:505px;
  width:141px;
  height:61px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u809 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u810_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:1002px;
}
#u810 {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:1002px;
}
#u811 {
  position:absolute;
  left:2px;
  top:493px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u812_img {
  position:absolute;
  left:0px;
  top:0px;
  width:927px;
  height:450px;
}
#u812 {
  position:absolute;
  left:367px;
  top:128px;
  width:927px;
  height:450px;
}
#u813 {
  position:absolute;
  left:2px;
  top:217px;
  width:923px;
  visibility:hidden;
  word-wrap:break-word;
}
#u814_img {
  position:absolute;
  left:0px;
  top:0px;
  width:865px;
  height:648px;
}
#u814 {
  position:absolute;
  left:409px;
  top:128px;
  width:865px;
  height:648px;
}
#u815 {
  position:absolute;
  left:2px;
  top:316px;
  width:861px;
  visibility:hidden;
  word-wrap:break-word;
}
#u816 {
  position:absolute;
  left:1158px;
  top:486px;
  width:57px;
  height:211px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
