body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1619px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1805_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:651px;
}
#u1805 {
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:651px;
}
#u1806 {
  position:absolute;
  left:2px;
  top:318px;
  width:1096px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1807_div {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1807 {
  position:absolute;
  left:1213px;
  top:115px;
  width:225px;
  height:16px;
}
#u1808 {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  visibility:hidden;
  white-space:nowrap;
}
#u1809_div {
  position:absolute;
  left:0px;
  top:0px;
  width:389px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1809 {
  position:absolute;
  left:1230px;
  top:535px;
  width:389px;
  height:16px;
}
#u1810 {
  position:absolute;
  left:0px;
  top:0px;
  width:389px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1811_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:30px;
  height:30px;
}
#u1811 {
  position:absolute;
  left:858px;
  top:114px;
  width:20px;
  height:20px;
}
#u1812 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u1813 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1814_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#3366FF;
}
#u1814 {
  position:absolute;
  left:1123px;
  top:113px;
  width:300px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#3366FF;
}
#u1815 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u1816_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:30px;
  height:30px;
}
#u1816 {
  position:absolute;
  left:1100px;
  top:113px;
  width:20px;
  height:20px;
}
#u1817 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u1818_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:30px;
  height:30px;
}
#u1818 {
  position:absolute;
  left:858px;
  top:244px;
  width:20px;
  height:20px;
}
#u1819 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u1820 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1821_div {
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#3366FF;
}
#u1821 {
  position:absolute;
  left:1123px;
  top:244px;
  width:329px;
  height:80px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#3366FF;
}
#u1822 {
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  word-wrap:break-word;
}
#u1823_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:30px;
  height:30px;
}
#u1823 {
  position:absolute;
  left:1100px;
  top:244px;
  width:20px;
  height:20px;
}
#u1824 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u1825 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1826_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#3366FF;
}
#u1826 {
  position:absolute;
  left:1160px;
  top:530px;
  width:350px;
  height:20px;
  font-size:14px;
  color:#3366FF;
}
#u1827 {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  word-wrap:break-word;
}
#u1828_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:31px;
  height:30px;
}
#u1828 {
  position:absolute;
  left:1136px;
  top:530px;
  width:21px;
  height:20px;
}
#u1829 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  word-wrap:break-word;
}
#u1830_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:30px;
  height:30px;
}
#u1830 {
  position:absolute;
  left:858px;
  top:530px;
  width:20px;
  height:20px;
}
#u1831 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
