body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1780px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u584_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:731px;
}
#u584 {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:731px;
}
#u585 {
  position:absolute;
  left:2px;
  top:358px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u586_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:29px;
}
#u586 {
  position:absolute;
  left:579px;
  top:401px;
  width:62px;
  height:29px;
}
#u587 {
  position:absolute;
  left:2px;
  top:6px;
  width:58px;
  visibility:hidden;
  word-wrap:break-word;
}
#u588 {
  position:absolute;
  left:461px;
  top:500px;
  width:84px;
  height:42px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u589_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u589 {
  position:absolute;
  left:439px;
  top:504px;
  width:30px;
  height:30px;
}
#u590 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u591_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u591 {
  position:absolute;
  left:1443px;
  top:512px;
  width:30px;
  height:30px;
}
#u592 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u593_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u593 {
  position:absolute;
  left:1480px;
  top:514px;
  width:300px;
  height:40px;
  font-size:14px;
}
#u594 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
