body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1440px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:2285px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:2285px;
}
#u45 {
  position:absolute;
  left:2px;
  top:1134px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:29px;
}
#u46 {
  position:absolute;
  left:421px;
  top:397px;
  width:120px;
  height:29px;
}
#u47 {
  position:absolute;
  left:2px;
  top:6px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 123, 71, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FF7B47;
}
#u48 {
  position:absolute;
  left:429px;
  top:397px;
  width:81px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FF7B47;
}
#u49 {
  position:absolute;
  left:2px;
  top:2px;
  width:77px;
  word-wrap:break-word;
}
#u48_ann {
  position:absolute;
  left:503px;
  top:393px;
  width:1px;
  height:1px;
}
#u50_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 123, 71, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FF7B47;
}
#u50 {
  position:absolute;
  left:429px;
  top:593px;
  width:81px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FF7B47;
}
#u51 {
  position:absolute;
  left:2px;
  top:2px;
  width:77px;
  word-wrap:break-word;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:59px;
}
#u52 {
  position:absolute;
  left:1121px;
  top:51px;
  width:318px;
  height:59px;
}
#u53 {
  position:absolute;
  left:2px;
  top:22px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:1209px;
  top:51px;
  width:137px;
  height:55px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
