body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1440px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u499_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:760px;
}
#u499 {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:760px;
}
#u500 {
  position:absolute;
  left:2px;
  top:372px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u501 {
  position:absolute;
  left:441px;
  top:494px;
  width:82px;
  height:60px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
