body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1803px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1453_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:760px;
}
#u1453 {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:760px;
}
#u1454 {
  position:absolute;
  left:2px;
  top:372px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1455 {
  position:absolute;
  left:441px;
  top:494px;
  width:82px;
  height:60px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1456_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u1456 {
  position:absolute;
  left:411px;
  top:509px;
  width:30px;
  height:30px;
}
#u1457 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u1458_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u1458 {
  position:absolute;
  left:1466px;
  top:503px;
  width:30px;
  height:30px;
}
#u1459 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u1460_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1460 {
  position:absolute;
  left:1503px;
  top:505px;
  width:300px;
  height:40px;
  font-size:14px;
}
#u1461 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
