body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1799px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u852_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:29px;
}
#u852 {
  position:absolute;
  left:579px;
  top:401px;
  width:62px;
  height:29px;
}
#u853 {
  position:absolute;
  left:2px;
  top:6px;
  width:58px;
  visibility:hidden;
  word-wrap:break-word;
}
#u854 {
  position:absolute;
  left:461px;
  top:500px;
  width:84px;
  height:42px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u855_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:1113px;
}
#u855 {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:1113px;
}
#u856 {
  position:absolute;
  left:2px;
  top:548px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u857_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1362px;
  height:734px;
}
#u857 {
  position:absolute;
  left:20px;
  top:128px;
  width:1362px;
  height:734px;
}
#u858 {
  position:absolute;
  left:2px;
  top:359px;
  width:1358px;
  visibility:hidden;
  word-wrap:break-word;
}
#u859_img {
  position:absolute;
  left:0px;
  top:0px;
  width:449px;
  height:397px;
}
#u859 {
  position:absolute;
  left:450px;
  top:333px;
  width:449px;
  height:397px;
}
#u860 {
  position:absolute;
  left:2px;
  top:190px;
  width:445px;
  visibility:hidden;
  word-wrap:break-word;
}
#u861_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:57px;
}
#u861 {
  position:absolute;
  left:369px;
  top:191px;
  width:61px;
  height:57px;
}
#u862 {
  position:absolute;
  left:2px;
  top:20px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u863_div {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u863 {
  position:absolute;
  left:450px;
  top:191px;
  width:225px;
  height:41px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u864 {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  white-space:nowrap;
}
#u865_div {
  position:absolute;
  left:0px;
  top:0px;
  width:487px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u865 {
  position:absolute;
  left:449px;
  top:257px;
  width:487px;
  height:48px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u866 {
  position:absolute;
  left:0px;
  top:0px;
  width:487px;
  white-space:nowrap;
}
#u867 {
  position:absolute;
  left:475px;
  top:663px;
  width:424px;
  height:67px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u868 {
  position:absolute;
  left:1209px;
  top:51px;
  width:137px;
  height:55px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u869_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u869 {
  position:absolute;
  left:1462px;
  top:658px;
  width:30px;
  height:30px;
}
#u870 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u871_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u871 {
  position:absolute;
  left:1499px;
  top:662px;
  width:300px;
  height:20px;
  font-size:14px;
}
#u872 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u873_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u873 {
  position:absolute;
  left:420px;
  top:682px;
  width:30px;
  height:30px;
}
#u874 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
