body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1804px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:760px;
}
#u87 {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:760px;
}
#u88 {
  position:absolute;
  left:2px;
  top:372px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:760px;
}
#u89 {
  position:absolute;
  left:0px;
  top:756px;
  width:1440px;
  height:760px;
}
#u90 {
  position:absolute;
  left:2px;
  top:372px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:944px;
  top:430px;
  width:330px;
  height:49px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u92_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u92 {
  position:absolute;
  left:1124px;
  top:494px;
  width:140px;
  height:34px;
}
#u93 {
  position:absolute;
  left:2px;
  top:8px;
  width:136px;
  word-wrap:break-word;
}
#u94 {
  position:absolute;
  left:385px;
  top:321px;
  visibility:hidden;
}
#u94_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u94_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:671px;
  height:397px;
}
#u95 {
  position:absolute;
  left:0px;
  top:0px;
  width:671px;
  height:397px;
}
#u96 {
  position:absolute;
  left:2px;
  top:190px;
  width:667px;
  visibility:hidden;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:204px;
  top:325px;
  width:258px;
  height:41px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u98 {
  position:absolute;
  left:614px;
  top:8px;
  width:45px;
  height:41px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u99 {
  position:absolute;
  left:1174px;
  top:49px;
  width:137px;
  height:55px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u100 {
  position:absolute;
  left:656px;
  top:66px;
  width:66px;
  height:26px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u101_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u101 {
  position:absolute;
  left:1284px;
  top:440px;
  width:30px;
  height:30px;
}
#u102 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u103_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u103 {
  position:absolute;
  left:1284px;
  top:494px;
  width:30px;
  height:30px;
}
#u104 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u105_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u105 {
  position:absolute;
  left:1464px;
  top:204px;
  width:30px;
  height:30px;
}
#u106 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u107_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u107 {
  position:absolute;
  left:1464px;
  top:474px;
  width:30px;
  height:30px;
}
#u108 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u109_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:242px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u109 {
  position:absolute;
  left:1504px;
  top:204px;
  width:300px;
  height:242px;
  font-size:14px;
}
#u110 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u111_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u111 {
  position:absolute;
  left:1504px;
  top:478px;
  width:300px;
  height:30px;
  font-size:14px;
}
#u112 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
