body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1805px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u707_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:1101px;
}
#u707 {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:1101px;
}
#u708 {
  position:absolute;
  left:2px;
  top:542px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u709_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1045px;
  height:461px;
}
#u709 {
  position:absolute;
  left:330px;
  top:134px;
  width:1045px;
  height:461px;
}
#u710 {
  position:absolute;
  left:2px;
  top:222px;
  width:1041px;
  visibility:hidden;
  word-wrap:break-word;
}
#u711_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1055px;
  height:688px;
}
#u711 {
  position:absolute;
  left:342px;
  top:134px;
  width:1055px;
  height:688px;
}
#u712 {
  position:absolute;
  left:2px;
  top:336px;
  width:1051px;
  visibility:hidden;
  word-wrap:break-word;
}
#u713_img {
  position:absolute;
  left:0px;
  top:0px;
  width:894px;
  height:573px;
}
#u713 {
  position:absolute;
  left:342px;
  top:134px;
  width:894px;
  height:573px;
}
#u714 {
  position:absolute;
  left:2px;
  top:278px;
  width:890px;
  visibility:hidden;
  word-wrap:break-word;
}
#u715_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:43px;
}
#u715 {
  position:absolute;
  left:754px;
  top:314px;
  width:110px;
  height:43px;
}
#u716 {
  position:absolute;
  left:2px;
  top:14px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u717 {
  position:absolute;
  left:533px;
  top:434px;
  width:124px;
  height:53px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u718 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u719 {
  position:absolute;
  left:139px;
  top:155px;
  width:141px;
  height:51px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u720 {
  position:absolute;
  left:139px;
  top:217px;
  width:141px;
  height:61px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u721 {
  position:absolute;
  left:139px;
  top:281px;
  width:141px;
  height:61px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u722 {
  position:absolute;
  left:139px;
  top:343px;
  width:141px;
  height:61px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u723 {
  position:absolute;
  left:139px;
  top:407px;
  width:141px;
  height:61px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u724 {
  position:absolute;
  left:139px;
  top:474px;
  width:141px;
  height:61px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u725 {
  position:absolute;
  left:139px;
  top:535px;
  width:141px;
  height:61px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u726_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u726 {
  position:absolute;
  left:1450px;
  top:252px;
  width:30px;
  height:30px;
}
#u727 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u728_div {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u728 {
  position:absolute;
  left:1490px;
  top:252px;
  width:315px;
  height:80px;
  font-size:14px;
}
#u729 {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  word-wrap:break-word;
}
