body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1780px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u258_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:1257px;
}
#u258 {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:1257px;
}
#u259 {
  position:absolute;
  left:2px;
  top:620px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u260 {
  position:absolute;
  left:1225px;
  top:137px;
  width:29px;
  height:38px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u261 {
  position:absolute;
  left:1035px;
  top:197px;
  width:27px;
  height:15px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u261_ann {
  position:absolute;
  left:1055px;
  top:193px;
  width:1px;
  height:1px;
}
#u262 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u263 {
  position:absolute;
  left:187px;
  top:130px;
  width:141px;
  height:51px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u264 {
  position:absolute;
  left:187px;
  top:187px;
  width:141px;
  height:61px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u265 {
  position:absolute;
  left:187px;
  top:256px;
  width:141px;
  height:61px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u266 {
  position:absolute;
  left:187px;
  top:317px;
  width:141px;
  height:61px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u267 {
  position:absolute;
  left:187px;
  top:376px;
  width:141px;
  height:61px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u268 {
  position:absolute;
  left:187px;
  top:446px;
  width:141px;
  height:61px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u269 {
  position:absolute;
  left:187px;
  top:509px;
  width:141px;
  height:61px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u270_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u270 {
  position:absolute;
  left:1167px;
  top:145px;
  width:30px;
  height:30px;
}
#u271 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u272_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u272 {
  position:absolute;
  left:1440px;
  top:148px;
  width:30px;
  height:30px;
}
#u273 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u274_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u274 {
  position:absolute;
  left:1480px;
  top:156px;
  width:300px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u275 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
